html,
body,
#root {
  min-height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: var(--white);
  background: var(--black);
}

#root {
  font-family: var(--font-sans);
}