# Pulseroom Environment Variables
# ---------------------------------
# To enable online music search, get a free Audius API key from: https://audius.co/settings
# Create a .env file in the root of the project and add your key.
# Do not commit the .env file to version control.

AUDIUS_API_KEY=
