PORT=8888
CLIENT_ID=your_spotify_client_id
CLIENT_SECRET=your_spotify_client_secret
MONGODB_ATLAS_URI=mongodb+srv://<username>:<password>@cluster0...
REDIRECT_URI=http://127.0.0.1:8888/api/spotify/callback
